* {
    box-sizing: border-box;
    transition: all 0.3s;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: system-ui, sans-serif;
    color: #E1EAEA;
    background-color: #E1EAEA;
}

#cerrar_sesion {
    position: fixed;        /* Se queda fijo en la pantalla */
    top: 0;                 /* Desde arriba */
    left: 0;                /* Pegado al borde izquierdo */
    width: 220px;           /* Ancho de la franja/botón */
    height: 100%;           /* Ocupa toda la altura de la ventana */
    background-color: #042871;
    color: white;
    font-size: 22px;
    font-weight: bold;
    display: flex;          /* Para centrar el texto */
    align-items: center;    /* Centrado vertical */
    justify-content: center;/* Centrado horizontal */
    text-decoration: none;  /* Quita subrayado */
    cursor: pointer;
}
#cerrar_sesion:hover {
    background-color: darkred;
}


/* ===== Contenedor principal ===== */
.dashboard {
    margin-left: 350px;
    margin-top: 190px;
    display: grid;                          /* Usamos grid */
    grid-template-columns: repeat(2, 1fr);  /* 2 columnas */
    gap: 50px;                              /* espacio entre tarjetas */
}

/* ===== Tarjetas ===== */
.servicios, .empleados, .parqueo, .tarifas {
    background-color: #2f5fd7;
    border-radius: 90px;
    border: 3px solid #191919;
    padding: 35px;
    min-height: 125px;
    width: 350px;
}
/* ===== Hipervínculos dentro de las tarjetas ===== */
.servicios a,
.empleados a,
.parqueo a,
.tarifas a {
    color: white;             /* color del texto del enlace */
    font-size: 30px;          /* tamaño de fuente */
    font-weight: bold;        /* negrita */
    text-decoration: none;    /* quita el subrayado */
    display: block;           /* hace que ocupe todo el ancho de la tarjeta */
    text-align: center;       /* centra el texto */
}

/* ===== Responsive ===== */
@media screen and (max-width: 768px) {
  .sidebar {
    position: static;
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .dashboard {
    margin-left: 0;
    padding: 20px;
  }
  .header {
    margin-left: 0;
    padding: 20px;
  }
}