/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.8s;
}

/* Fondo general */
body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f5f9;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contenedor principal */
.login-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Tarjeta */
.login-card {
    width: 900px;
    height: 520px;
    background-color: #ffffff;
    display: flex;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

/* Panel izquierdo */
.login-left {
    width: 45%;
    background-image: url("../static/imagenes/fondo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}


/* Panel derecho */
.login-right {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Encabezado */
.login-header h1 {
    font-size: 32px;
    margin-bottom: 30px;
    color: #333;
}

/* Formulario */
.login-form {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Grupo input */
.input-group {
    width: 100%;
    margin-bottom: 25px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-size: 14px;
}

.input-group input {
    width: 100%;
    padding: 12px 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
}

.input-group input:focus {
    border-color: #2f5fd7;
}

/* Botón */
.btn-login {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #2f5fd7;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

.btn-login:hover {
    background-color: #244bb5;
}
