/* MODAL */
.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-contenido {
    background: rgba(14, 0, 48, 0.95);
    color: #e3fafa;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    width: 320px;
}

.modal-botones {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}

.btn_modal {
    padding: 12px 25px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.btn_si {
    background: #0b8f00;
    color: white;
}

.btn_no {
    background: #b00000;
    color: white;
}
