*{
    box-sizing: border-box;
    transition: all 0.8s;
}

::placeholder,
::-moz-placeholder,
::-webkit-input-placeholder {
    color: inherit;
    font-family: inherit;
}

figure {
    margin: 0;
    padding: 0;
}

figure img {
    margin: 0;
    padding: 0;
    width: 0%;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body{
    background: url("../static/imagenes/fondo3.jpg") center center / cover no-repeat;
    position : relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(1);  
    cursor: pointer;
}




#tlo{
    font-size: 15px;
    color: #e3fafa;
    text-align: center;
}



main#padre_ppal {
    margin: auto;
    align-items: center;
    padding: 25px;
    border-radius: 20px;
}

select{
    background:rgba(14, 0, 48, 0.9);
    color: #e3fafa;
    text-align: center;
    padding: 20px; 
    border-radius: 20px;
    border: none;
    width: 100%;
}

input{
    background:rgba(14, 0, 48, 0.9);
    color: #e3fafa;
    padding: 20px; 
    border-radius: 20px;
    height: 7vh;
    width: 100%;
    text-align: center;
    border: none;
}

input#valor_tarifa{
    width: 100%;
}

input::placeholder {
    color: #e3fafa;       
    font-family: inherit;
}

legend{
    color: #e3fafa;
    gap: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.botones {
    background: rgba(0, 6, 128, 0.9);
    color: #e3fafa;
    border-radius: 20px;
    border: none;
    margin-top: 20px;
    padding: 15px;
    width: 150px;
}
@media screen and (min-width: 1200px) {

    main#padre_ppal {
        align-items: center;
        margin-left: 450px;
    }

    .con_contenido {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center;
        gap: 20px;
        margin-bottom: 20px;
    }

    input#valor_tarifa {
        width: 100%;
    }

    input {
        width: 100%;
        font-size: 20px;
        padding: 20px;
        border-radius: 20px;
    }

    select {
        width: 100%;
        font-size: 20px;
        padding: 20px;
        border-radius: 20px;
    }

    legend {
        font-size: 20px;
    }

    #tlo{
        font-size: 19px;
        text-align: center;   /* centra el texto dentro del h1 */
        margin: 20px auto
    }

    #con_botones {
        display: flex;
        gap: 0 10px;
    }


}