<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Modificar Capacidades</title>
    <link rel="stylesheet" href="../static/a_espacios.css">
    <script src="../static/js/alerta.js"></script>
</head>
<body>

<main id="cap_par">
  <form action="/espacios/modificar" method="post" id="form_espacio">

    <div>
      <h2>Capacidad Carros</h2>
      <input
        type="text"
        id="capacidad_carros"
        name="capacidad_carros"
        pattern="[0-9]+"
        value="{{ espacios.capacidad_carros }}"
        required
      >
    </div>

    <div>
      <h2>Capacidad Motos</h2>
      <input
        type="text"
        id="capacidad_motos"
        name="capacidad_motos"
        pattern="[0-9]+"
        value="{{ espacios.capacidad_motos }}"
        required
      >
    </div>

    <div id="con_botones">
      <a href="/opciones" id="btn_volver" class="botones">Volver</a>
      <button  id="guardar" class="botones" type="submit">Guardar</button>
    </div>
  </form>
</main>

<div id="modal-alerta" class="alerta-modal">
  <div class="contenido-alerta">
    <p>No has modificado ningún valor.</p>
    <button id="btn-aceptar">Aceptar</button>
  </div>
</div>

</body>
</html>


