<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/dashboard.css" />
  <title>Opciones principales</title>
</head>
<body>

  <a href="/cerrar_sesion" id="cerrar_sesion">Cerrar Sesion</a>

  <div>


    <main class="dashboard">

      <section class="card">
        
        <a href="/operaciones" id="servicios">Gestión de servicios prestados</a>
      </section>

      <section class="card">
        
        <a href="/admin/consultar_usuario">Gestion de empleados</a>
      </select>

      </section>

      <section class="card">
        
        <a href="/espacios/modificar" id="parqueo">Gestionar parqueadero</a>
      </section>

      <section class="card">
        <a href="/consultar_tarifas">Gestion de tarifas</a>
      </section>

      

    </main>

    <script>
      function redirigirUsuario(ruta) {
        if (ruta) {
          window.location.href = ruta;
        }
      }
    </script>
  </div>
</body>
</html>
